<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
    </head>
    {% block body %}    
        <div>
            <div>
                <form method="post" action="/login">
                    <div>
                        {{ form.name }}
                    </div>
                    <div>
                        {{ form.password }}
                    </div>
                    <div>
                        <label></label>
                        <input type="submit" value="로그인">
                    </div>
                </form>
            </div>
        </div>
    {% endblock %}
</html>